.clearfix:before,
.clearfix:after {
    box-sizing: border-box;
    content: " ";
    display: block;
    clear: both;
  }
/* .class tags */
.titles {
  
    font-weight: normal;
    text-align: center;
    padding: 40px;
    margin: 10px;
}

.alt-titles {
    background-color: #ebebeb;
    color: #777;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}


/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:#777;
}

/* Navbar */
nav {
    max-width: 960px;
    margin-top: 10px;
    border: none;
    background-color: #ebebeb;
}


/* Section */

section {
    background-color: aquamarine;
	float: left;
	height: 279px;
	width: 495px;
	box-sizing: border-box;
	padding: 20px;
}

/*Article*/

article {
	background-color: coral;
	color: #ebebeb;
	box-sizing: border-box;
    padding: 0 15px 15px 15px;
    margin: 10px;
}

/* Aside */
aside {
	float: right;
	height: 279px;
    width: 445px;
    margin: 20px;
}


/* Footer */
footer {
    max-width: 960px;
}
