/* .class tags */
.title {
    font-weight: normal;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:#777;
    width: 960;
    text-align: center;
    margin: 0 90px 0px 90px;
    padding: 0;
  
}

/* Header */
header {
    background-color: #ebebeb;
    color: #777;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Navbar */
nav {
    background-color: #ebebeb;
    color: #777;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/* Section */
section {
    background-color: #ebebeb;
    padding: 10px 10px 10px 10px;
    width: 670px;
    color: #777;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    margin: 0px 10px 10px 10px;

    float: left;
}

/* Article */
article {
	background-color: #777;
	color: #ebebeb;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    

}

/* Titles */
h1, h2, p {
    background-color: #ebebeb;
    color: #777;
   
}

/* Aside */
aside {
    background-color: #ebebeb;
    color: #777;
    font-weight: normal;
    text-align: center;
    max-width: 50%;
    height: 270px;
    overflow: hidden;
    padding: 20px;
    margin: 0px 10px 10px 0px;
    
}


/* Footer */
footer {
    background-color: #ebebeb;
    color: #777;
    font-weight: normal;
    text-align: center;
    padding: 20px;
    margin: 10px;
    clear: both;
}


